/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Estilos del header */
  header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  
  header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  header ul li a:hover {
    background-color: #333;
  }
  
  /* Estilos para el menú de navegación en pantallas pequeñas */
  @media screen and (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    header h1 {
      font-size: 20px;
    }
  
    header ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #1a1a1a;
      width: 100%;
    }
  
    header ul li {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  
    header ul li a {
      padding: 10px;
      border-bottom: 1px solid #333;
    }
  
    header ul li:last-child a {
      border-bottom: none;
    }
  
    header .menu-toggle {
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      display: block;
      position: relative;
      z-index: 1;
    }
  
    header .menu-toggle:before {
      content: "\f0c9";
      font-family: FontAwesome;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    header .menu-toggle.active:before {
      content: "\f00d";
    }
  
    header ul.active {
      display: flex;
    }
  }

  #que-aprenderas {
    padding: 50px 0;
    text-align: center;
    margin-top: 50px;
    background-color:  #F2F2F2;
    margin-top: 70px;
  }
  
  .titulo-seccion {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .carta {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    width: 300px;
  }
  
  .carta:hover {
    transform: translateY(-10px);
  }
  
  .carta img {
    max-width: 100%;
  }
  
  .titulo-carta {
    background-color: #f9c60f;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 10px;
  }
  
  .contenido-carta {
    font-size: 1.1em;
    line-height: 1.5;
    margin: 20px;
  }
  
  .parrafo-final {
    font-size: 1.1em;
    line-height: 1.5;
    margin-top: 30px;
  }
  
  button {
    padding: 0;
    background: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    border-radius: 2px;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    color: #020202;
    border:solid black 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button {
    padding: 0;
    background: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    border-radius: 2px;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    color: #020202;
    border:solid black 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover{
    padding: 0;
    background: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    border-radius: 2px;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    color: #48ff00;
    border:solid black 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .contenedor-secciones {
    background-color: #eee; /* color gris de fondo */
    padding: 20px; /* espacio de relleno para separar del borde */
  }

  li{
    border: 1px solid black;
    border-radius: 10px;
    line-height: normal;
  }
  


    #modalidad {
    background-color: #757272;
    padding: 50px;
    text-align: center;
    color: white;
    }
    
    #modalidad h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    }
    
    #modalidad p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    }
    
    #modalidad ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    }
    
    #modalidad li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    }
    
    /* Estilos para las tablas de precios */

    /* Estilos para las tablas */

    /* Estilos para las tablas */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #000000;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 2px solid #000000;
}

th {
  font-weight: bold;
  color: #000000;
  background-color: #f9c60f;
  border-color: #000000;
}

.tabla-precios td:first-child {
  font-weight: bold;
  width: 70%;
  border: 2px solid #000000;
}

.tabla-precios td:last-child {
  font-weight: bold;
  width: 30%;
  color: #000000;
  background-color: #f9c60f;
  cursor: pointer;
  border-left: 2px solid #000000;
}

.tabla-precios td:last-child:hover {
  background-color: #f9c60f;
}

.tabla-horarios td:first-child {
  font-weight: bold;
  width: 30%;
  color: #000000;
  background-color:#f9c60f;
  border-right: 2px solid #000000;
}

.tabla-horarios td:first-child:hover {
  background-color: #f9c60f;
}

.tabla-horarios td:last-child {
  font-weight: bold;
  width: 70%;
  border-left: 2px solid #000000;
}

#horarios h2 {
  color: #f9c60f;
}

#precios h2 {
  color: #000000;
  background-color: #f9c60f;
  text-align: center;
  padding: 10px;
  border: 2px solid #ddd;
}


#horarios h2 {
  color: rgb(0, 0, 0);
}

#precios h2 {
  color: #000000;
  background-color: #f9c60f;
  text-align: center;
  padding: 10px;
}



    footer {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #000000;
        color: #fff;
        text-align: center;
        width: 100%;
        height: 30px;
        }
        
        #contact {
            background-color: #F2F2F2;
            padding: 50px;
            text-align: center;
          }
          
          #contact h2 {
            font-size: 36px;
            margin-bottom: 20px;
          }
          
          #contact p {
            font-size: 20px;
            margin-bottom: 40px;
          }
          
          #contact div {
            display: flex;
            justify-content: center;
            gap: 20px;
          }
          
          #contact button {
            padding: 15px 30px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            background-color: #00bfa5;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
          }
          
          #contact button:hover {
            background-color: #008e76;
          }

          .modal {
            display: none; 
            position: fixed; 
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgba(0,0,0,0.4);
          }
          
          .modal-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 80%; 
          }
          
          .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }
          
          .close:hover,
          .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }
          
          
          #precios li::after {
            content: ":";
            color: #0077FF;
            margin-right: 5px;
          }
                    


          .accordion {
            list-style: none;
            margin: 0;
            padding: 0;
          }
          
          .accordion li {
            margin-bottom: 10px;
          }
          
          .accordion-header {
            cursor: pointer;
            background-color: #eee;
            padding: 15px;
          }
          
          .accordion-header:hover {
            background-color: #ccc;
          }
          
          .accordion-header.active {
            background-color: #ccc;
          }
          
          .accordion-content {
            display: none;
            background-color: #fff;
            padding: 15px;
          }
          
          .accordion-content.show {
            display: block;
          }
          
          #preguntas{
            margin-top: 40px;
            background-color: #757272;
            padding: 40px;
          }

          #preguntas h2{
            margin-bottom: 20px;
            color: white;
          }

          .modal-container {
            display: none; /* ocultar el modal por defecto */
            position: fixed; /* posición fija en la ventana */
            z-index: 1; /* colocar el modal encima del resto de elementos */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; /* permitir el desplazamiento vertical */
            background-color: rgba(0, 0, 0, 0.5); /* fondo negro semitransparente */
          }
          
          .modal-content {
            background-color: #fefefe; /* fondo blanco */
            margin: 10% auto; /* centrar verticalmente y dejar un margen del 10% */
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            position: relative; /* posicionar los elementos hijos de forma relativa a este contenedor */
          }
          
          .close-button {
            position: absolute; /* posicionar el botón cerrar de forma absoluta al contenedor */
            top: 10px;
            right: 10px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
          }
          
          form label {
            display: block; /* colocar los labels en una línea separada */
            margin-top: 10px;
          }
          
          form input[type="text"],
          form input[type="email"],
          form textarea {
            width: 100%; /* ajustar el ancho al 100% */
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 3px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
          }
          
          form button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
          }
          
          footer h3{
            font-size: 15px;
            margin: 0px;
            padding: none;
            line-height: 30px;
            text-align: right;
            margin-right: 3px;
          }